.cursor {
    cursor: pointer;
}

.sec_color {
    color: #FBA70F;
}

body {
    background-color: #f2f2f2 !important;
}

.product-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
}
.banner-image {
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 25vh !important;
    object-fit: contain;
    object-position: center;
}

.product-media {
    background-color: white !important;
}

.product {
    margin-bottom: 30px !important;
}

.brands {
    background-color: white;
    padding: 10px;
    width: 120px !important;
    height: 120px !important;
    object-fit: contain;
    object-position: center;
}