.cursor {
    cursor: pointer;
}

.sec_color {
    color: #FBA70F;
}

body {
    background-color: #f2f2f2 !important;
}

.product-image {
    width: 100%;
    height: 250px;
    padding: 15px;
    object-fit: contain;
    object-position: center;
}
.banner-image {
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 20vh !important;
    object-fit: contain;
    object-position: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #f2f2f2;
    opacity: 90%;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.banner_slider {
    height: 50vh !important;
}

.product-media {
    background-color: white !important;
}

.product {
    margin-bottom: 30px !important;
}

.brands {
    background-color: white;
    padding: 10px;
    width: 120px !important;
    height: 120px !important;
    object-fit: contain;
    object-position: center;
}

.selected_image {
    width: 350px !important;
    height: 350px !important;
    object-fit: contain;
    object-position: center;
    background-color: white;
    padding: 10px;
}

.image_thumbnail {
    width: 110px;
    height: 110px;
    object-fit: contain;
    object-position: center;
    background-color: white;
    padding: 2px;
}